.sell, .buy {
  padding: 15px;
  display: flex;
  justify-content: center;
  &-heading {
    width: 7%;
  }
  &-input {
    margin-right: 15px;
  }
}

input:disabled {
  background: white;
}

.exchange {
  margin: 0 auto;
  display: block;
  transform: rotate(90deg);
  background: none;
  border: none;
  font-size: 3rem;
}
